n8n/Fetch BCV.json
{
  "name": "Fetch BCV",
  "nodes": [
    {
      "parameters": {
        "url": "https://www.bcv.org.ve",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "60987daa-dfa5-466d-b3fa-ea217a26b71d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "USDVESRate",
              "cssSelector": "#dolar strong"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        416,
        0
      ],
      "id": "b5b61225-40aa-4cf3-9bea-382aa7d2d55b",
      "name": "HTML"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "CBHQ6Kjp8aAiKsqo",
          "mode": "list",
          "cachedResultName": "USDVES",
          "cachedResultUrl": "/projects/5N2Cmdjc2XysDjWi/datatables/CBHQ6Kjp8aAiKsqo"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "=date",
              "condition": "gte",
              "keyValue": "={{ new Date(Date.now()).toISOString().split('T')[0] }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ new Date(Date.now()).toISOString().split('T')[0]; }}",
            "source": "BCV",
            "bolivar": "Bs. D",
            "rateBuy": "={{ parseFloat($json.USDVESRate.replace(',', '.')) }}",
            "rateSell": "={{ parseFloat($json.USDVESRate.replace(',', '.')) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "bolivar",
              "displayName": "bolivar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "rateBuy",
              "displayName": "rateBuy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "rateSell",
              "displayName": "rateSell",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        624,
        0
      ],
      "id": "76a141ff-b7b3-4616-bc6f-e185681ad0e1",
      "name": "Upsert row(s)",
      "notesInFlow": true,
      "notes": "This uses ISO 8601 for dates"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "134771a8-facd-4e34-8e46-b8d8a56d94f3",
      "name": "Schedule Trigger",
      "retryOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Upsert row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert row(s)": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "cec3dd1e-5fba-4f92-944a-62bd700c32c2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "189d676711a52e84352a44dfebbbf2df93ea48508268ce222f5973226dcb4031"
  },
  "id": "tyNZoGAnQM9Dwnzy",
  "tags": []
}
